{% macro render_log(log) %}
<div class="log-element-container" data-log_id="{{ log.id }}" data-render_default="{{ log.render }}">
    
    {{ log.html|safe }}

    <div class="children {% if log.complete %} hidden {% endif %}">
        {% for child in log.children %}
            {{ render_log(child) }}
        {% endfor %}
    </div>
</div>
{% endmacro %}

<div id="log-tree-view" class="column-container grow">
    {% for log in log_tree %}
        {{ render_log(log) }}
    {% endfor %}
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/tree_view.css') }}">
<script src="{{ url_for('static', filename='js_lib/tree_view.js') }}"></script>
<script>
    renderDefault();
</script>
