{% macro render_log(log) %}
<div class="column-container">
    <div class="row-cluster log-element" data-log_id="{{ log.id }}" style="color: {{ type_color }};">
        <p style="cursor: pointer; margin: 0px 15px 0px 0px;">
            <b>{{ log.id }}</b>: 
        </p>
        <p style="flex-grow: 1;">{{ log.comment }}</p>
        <p class="duration" data-time_spent="{{ log.direct_duration }}" data-total_time_spent="{{ log.total_duration }}"
            style="margin: 0px 0px 0px 15px; padding: 0px;"></p>
    </div>
    {% if log.children %}
    <div class="children">
        {% for child in log.children %}
            {{ render_log(child) }}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endmacro %}

<div class="log-tree">
    {% for log in log_tree %}
        {{ render_log(log) }}
    {% endfor %}
</div>
