{% macro render_log(log) %}
<div class="log-element-container" data-log_id="{{ log.id }}">
    <div class="row-cluster log-element task-type-{{  log.log_type  }} {% if log.complete %} bordered {% endif %}">
        <p class="logIdLabel {{ 'task-type-complete' if log.complete else '' }}" onclick="collapseChildren(event)">
            {{ log.id }}:
        </p>
        <p class="logComment" ondblclick="switchFocus(event)" onclick="centerTable(event)">{{ log.comment }}</p>
        <p class="duration" data-time_spent="{{ log.direct_duration }}" data-total_time_spent="{{ log.total_duration }}">
            {{ log.duration_string }} 
        </p>
    </div>
    <div class="children {% if log.complete %} hidden {% endif %}">
        {% for child in log.children %}
            {{ render_log(child) }}
        {% endfor %}
    </div>
</div>
{% endmacro %}

<div id="log-tree-view">
    {% for log in log_tree %}
        {{ render_log(log) }}
    {% endfor %}
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/tree_view.css') }}">
<script src="{{ url_for('static', filename='js_lib/tree_view.js') }}"></script>
