<div id="form-container" class="centered popup-content">
    <div class="column-container">
        <label for="parent-id">Parent ID:</label>
        <input type="hidden" id="edit-log-id" name="edit-log-id" value="{{ log_id }}">
        <input type="number" id="edit-parent-id" name="edit-parent-id" min="1" value="{{ parent_id }}">

        <label for="edit-log-type-dropdown">Type:</label>
        <select id="edit-log-type-dropdown" name="edit-log-type-dropdown">
            {% for l_type in log_types %}
                {% if l_type == log_type %}
                    <option value="{{ l_type }}" selected>{{ l_type }}</option>
                {% else %}
                    <option value="{{ l_type }}">{{ l_type }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <label for="edit-comment">Comment:</label>
        <textarea id="edit-comment" name="edit-comment" rows="4" cols="50">{{ comment }}</textarea>

        <div id="button-container">
            <button onclick="submitEdit()">Submit</button>
            <button onclick="removeOverlay()">Cancel</button>
        </div>
    </div>
</div>
<script>
    const submitEditButton = getSubmitButton();
    submitEditButton.addEventListener('click', submitEdit);
    populateLogTypeDropdown(logTypeData, dropdown_id='edit-log-type-dropdown');
</script>
