<div id="form-container" class="centered popup-content">
    <div class="column-container">
        <label for="parent-id">Parent ID:</label>
        <input type="hidden" id="edit-log-id" name="edit-log-id" value="{{ log_id }}">
        <input type="number" id="edit-parent-id" name="edit-parent-id" min="1" value="{{ parent_id }}">

        <label for="edit-log-type-dropdown">Type:</label>
        {{ type_dropdown|safe }}

        <label for="edit-comment">Comment:</label>
        <textarea id="edit-comment" name="edit-comment" rows="4" cols="50">{{ comment }}</textarea>

        <div class="row-container" id="button-container">
            <button class="submit-button" onclick="submitEdit()">Submit</button>
            <button class="cancel-button" onclick="removeOverlay()">Cancel</button>
        </div>
    </div>
</div>

