/* Set the display property of the form and table to inline-block */

/* Buttons */

button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
}

.submit-button:hover {
  background-color: #3e8e41;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}

.cancel-button:hover {
  background-color: #7c221c;
}

/* text styling */

h1 {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

div {
  box-sizing: border-box;
  /* this row is for debugging */
  /* border: 1px solid black; */
}
 
/* containers */

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.row-cluster {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.push-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.push-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.push-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stretch {
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
}

.input-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
}

.center-row {
  max-height: calc(100vh - 400px);
}

.table-column {
  overflow-y: scroll;
  max-height: 100vh;
  width: 20%;
}

.tree-column {
  overflow-y: scroll;
  max-height: 100vh;
  width: 33%;
}

.wrapper {
  align-items: stretch;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* padding: 5px; */
  flex-grow: 1;
  /* max-height: calc(100vh - 20px); */
  max-height: 100vh;
  max-width: 100%;
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  border-left: 3px solid black;
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  background-color: #f2f2f2;
  padding: 20px;
}


/* coloring by type */

.task-type-thought {
  color: lightblue;
}

.task-type-task {
  color: orange;
}

.task-type-error {
  color: red;
}

.task-type-complete {
  color: green;
}

.task-type-distraction {
  color: purple;
}

#main-title-banner {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid black;
  height: 200px;
}

#main-content {
  padding: 20px;
  margin: 0;
  height: calc(100vh - 200px);
}