/* Set the display property of the form and table to inline-block */
form,
table {
  display: inline-block;
  vertical-align: top;
}

/* Set the width of the form and table */
form {
  width: 40%;
}

table {
  width: 60%;
}

/* Style the table */
table {
  border-collapse: collapse;
  margin-top: 20px;
  flex-grow: 1;
}

table th,
table td {
  padding: 5px;
}

table thead {
  position: sticky;
}

table th {
  background-color: #f2f2f2;
}

/* Style the form */
form {
  margin-top: 20px;
  flex-direction: row;
}

label,
textarea,
select,
button {
  display: block;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

textarea {
  width: 50vw;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

/* Style the h1 */
h1 {
  text-align: center;
  flex-grow: 1;
}

/* Style the body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  overflow: hidden;
}


.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  flex-grow: 1;
}

.row-cluster {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.push-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.push-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  display: flex;
  flex-direction: column;
}

.stretch {
  align-items: stretch;
}

.row {
  display: flex;
  flex-direction: row;
}

.input-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
}

.center-row {
  max-height: calc(100vh - 400px);
}

.table-column {
  overflow-y: scroll;
  width: 20%;
}

.tree-column {
  overflow-y: scroll;
  width: 33%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  overflow: scroll;
  margin: 5px;
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  border-left: 3px solid black;
}

.log-element {
  text-align: left;
  margin: 0;
  padding: 0;
}

.highlighted {
  color: rgb(0, 255, 76);
}

.log-tree {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.bordered {
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 0.5);

}

.test {
  color: lightblue
}

.push-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  background-color: #f2f2f2;
  padding: 20px;
}