#log-table-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }