
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Configure Log Types</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Configure Log Types</h1>
        <form action="" method="POST">
            <label for="log-type">Log Type:</label>
            <input type="text" id="log-type" name="log-type">
            <button type="submit">add</button>
        </form>
        <button id="delete-button">Delete Selected</button>
    <ul id="log-types-list"></ul>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        window.addEventListener('load', function () {
            populateLogTypeList();
        });
        const deleteButton = document.getElementById('delete-button');
        deleteButton.addEventListener('click', function () {
            deleteHighlighted();
        });
    </script>
    </body>
</html>
