<!-- FILEPATH: /c:/Users/travi/OneDrive/Desktop/my-logger/index.html -->

<!DOCTYPE html>
<html>

<head>
    <title>My Logger</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<body>
    <div class="wrapper">
        <h1>My Logger</h1>
        <h2 id="current_activity"></h2>
        <div class="table-column">
            <table id="log-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Timestamp</th>
                        <th>Type</th>
                        <th>Log</th>
                        <th>Parent</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="input-container">
            <div class="column-container">
                <div class="row-container">
                    <div class="row-cluster">
                        <label for="log-type">Log Type:</label>
                        <select id="log-type" name="log-type">
                            <option value="thought">Thought</option>
                            <option value="action">Action</option>
                            <option value="task">Task</option>
                            <option value="error">Error</option>
                            <option value="success">Success</option>
                            <option value="completion">Completion</option>
                            <option value="learning">Learning</option>
                            <option value="break">Break</option>
                            <option value="distraction">Distraction</option>
                            <option value="issue">Issue</option>
                        </select>
                    </div>
                    <label for="log-comment">Comment:</label>
                </div>
                <textarea id="log-comment" name="log-comment" rows="5" cols="50"></textarea>
            </div>
            <div class="push-bottom">
                <button id="submit">Add Log</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        window.addEventListener('load', function () {
            logClick();
        });

        const textarea = document.getElementById('log-comment');
        textarea.addEventListener('keydown', function (event) {
            if (event.keyCode === 13 && !event.shiftKey) {
                logClick();
            }
        });

        const button = document.getElementById('submit');
        button.addEventListener('click', function (event) {
            event.preventDefault();
            logClick();
        });
    </script>
</body>

</html>