<!-- FILEPATH: /c:/Users/travi/OneDrive/Desktop/my-logger/index.html -->

<!DOCTYPE html>
<html>

<head>
    <title>My Logger</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<body>
    <div class="wrapper">
        <h1>My Logger</h1>
        <input type="date" id="target-date" name="date-input" value="{{ date }}" onchange="refreshViews()">
        <h2 id="current_activity"></h2>
        <div class="row-container">
            <div class="tree-column center-row">
                <div id="log-tree"></div>
            </div>
            <div class="table-column center-row">
                <div class="push-right">
                    <table id="log-table">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="input-container">
            <div class="push-left">
                <ul id="log-types-list"></ul>
            </div>
            <div class="row-cluster">
                <div class="column-container">
                    <div class="row-container">
                        <div class="row-cluster">
                            <select id="log-type-dropdown" name="log-type"></select>
                        </div>
                    </div>
                    <textarea id="log-comment" name="log-comment" rows="5" cols="50"></textarea>
                </div>
                <div class="push-bottom">
                    <button id="submit">Add Log</button>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay" style="display: none;" class="overlay"></div>    
    <script src="{{ url_for('static', filename='js_lib/server_interface.js') }}"></script>
    <script src="{{ url_for('static',  filename='js_lib/log_type_dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js_lib/log_tree.js') }}"></script>
    <script src="{{ url_for('static', filename='js_lib/log_table.js') }}"></script>
    <script src="{{ url_for('static', filename='js_lib/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js_lib/log_type_list.js') }}"></script>
    <script src="{{ url_for('static', filename='js_lib/edit_log_overlay.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script>
        
        const logTypeData = getLogTypes();

        window.addEventListener('load', function () {
            refreshViews();
            populateLogTypeList();
        });

        const textarea = document.getElementById('log-comment');
        textarea.addEventListener('keydown', function (event) {
            if (event.keyCode === 13 && !event.shiftKey) {
                submitLog();
            }
        });

        const button = document.getElementById('submit');
        button.addEventListener('click', function (event) {
            event.preventDefault();
            submitLog();
        });

    </script>
</body>

</html>