<!-- FILEPATH: /c:/Users/travi/OneDrive/Desktop/my-logger/index.html -->

<!DOCTYPE html>
<html>

<head>
    <title>My Logger</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<body>
    <div class="wrapper">
        <h1>My Logger</h1>
        <input type="date" id="target-date" name="date-input" value="{{ date }}" onchange="refreshViews()">
        <div id="current_activity">
            <h2>Current Activity: <br><t>{{ current_activity }}</t></h2>
        </div>
        <div class="row-container">
            <div class="tree-column center-row">
                <div id="log-tree">
                    {{ log_tree|safe }}
                </div>
            </div>
            <div class="table-column center-row">
                <div id="log-table" class="push-right">
                    {{ log_table|safe }}
                </div>
            </div>
        </div>
        <div class="input-container">
            <div id="type_legend" class="push-left">
                {{ type_legend|safe }}
            </div>
            <div class="row-cluster">
                <div class="column-container">
                    <div class="row-container">
                        <div id="type-dropdown-container" class="row-cluster">
                            {{ type_dropdown|safe }}
                        </div>
                    </div>
                    <textarea id="log-comment" name="log-comment" rows="5" cols="50"></textarea>
                </div>
                <div class="push-bottom">
                    <button class="submit-button" id="submit">Add Log</button>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay" style="display: none;" class="overlay"></div>    
    <script src="{{ url_for('static', filename='js_lib/server_interface.js') }}"></script>
    <script src="{{ url_for('static', filename='js_lib/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js_lib/edit_log_overlay.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script>
        
        const logTypeData = getLogTypes();

        window.addEventListener('load', async function () {
            refreshCurrentActivity();
        });

        const textarea = document.getElementById('log-comment');
        textarea.addEventListener('keydown', function (event) {
            if (event.keyCode === 13 && !event.shiftKey) {
                submitLog();
            }
        });

        const button = document.getElementById('submit');
        button.addEventListener('click', function (event) {
            event.preventDefault();
            submitLog();
        });

    </script>
</body>

</html>